<html>
<body bgcolor="orange" text="black">
<form action="{% url 'my_function5' %}" >

<font face="algerian" size=8 color="black">
<center> Book Issue Detail </center> <br>
</font>
<center>
<font size=5>

Book ID<input type="text" name="t1"><br><br>
Student Name<input type="text" name="t2"><br><br>
Book Name<input type="text" name="t3"><br><br>
Issued<input type="text" name="t4"><br><br>
Returned<input type="text" name="t5"><br><br>

</font>
<input type="submit" value="Issued">
<br><br>
</form>
</center>
</BODY>
</HTML>
