<html>
<body bgcolor='cyan' text='black'>
<form action="{% url 'my_function8' %}">
<font face='algerian' size=8 color='black'>
<center> Book Return </center> <br>
</font>
<center>
<font size=5>

Book issued ID<input type='text' name='t1'><br><br>
Book Code<input type='text' name='t2'><br><br>
Book Name<input type='text' name='t3'><br><br>
Student ID<input type='text' name='t4'><br><br>
Student Name<input type='text' name='t5'><br><br>
Issued Date<input type='text' name='t6'><br><br>
Return Date<input type='text' name='d1'><br><br>

</font>
<input type='submit' value="Return">
<br><br>

</center>
</form>
</BODY>
</HTML>
