<html>
<body bgcolor="rosybrown">
<form action="{% url 'my_function3' %}">

<font face="algerian" size=8 color="black">
<center> Update Book </center> <br>
</font>
<font size=5>
<center>

Book Code <input type="text" name="t1"><br><br>

Book Name <input type="text" name="t2"><br><br>

Author <input type="text" name="t3"><br><br>

Publication <input type="text" name="t4"><br><br>

Book Price <input type="text" name="t5"><br><br>

Purchase Date <input type="text" name="d1"><br><br>

Quantity <input type="text" name="t6"><br><br>

</font>
<input type="submit" value="Update">
<br><br>
</center>
</form>
</BODY>
</HTML>
