<html>
<body bgcolor="powderblue">
<h1><center><font face="algerian" size=8 color="black"> WELCOME TO THE LIBRARY SYSTEM </font></center></h1>
<h3><center><font face="arial" size=7 color="black">Select The Process</font></center></h3><br>

<form action="{% url 'my_function2' %}">

<center><input type="submit" value="Update"></center>
</form>
<form action="{% url 'my_function6' %}">

<center><input type="submit" value="Issue"></center>
</form>

<form action="{% url 'my_function7' %}">
<center><input type="submit" value="Return"></center>
</form>

<form>
<center><input type="submit" value="Display"></center>
</form>

</body>
</html>